header {
  display: block;
  width: 100%;
  height: 74px;
  padding: 24px;
}

header > .aven-logo {
  float: left;
}

.side-nav {
  float: right;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  height: 42px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

nav a, nav button {
  color: black;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin: 0 10px;
  padding: 5px 12px;
  text-decoration: none;
  text-transform: capitalize;
}

nav button {
  width: 150px;
  height: 42px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color .5s,
              color .5s;
}

button:active {
  background-color: transparent;
  color: black;
}

.menu-icon {
  float: right;
  display: block;
  width: 25px;
  height: 27px;
  background-image: url("../../../assets/images/menu.svg");
}

.mobile-nav {
  background-color: rgba(0, 0, 0, .05);
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.show {
  height: auto;
}

@media screen and (max-width: 800px) {
  .mobile-nav > a, .mobile-nav > button {
    padding: 0;
    margin: 0;
  }

  .mobile-nav > button {
    width: auto;
    height: auto;
    color: black;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
  }
}
