/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'GT America';
  src: url('/assets/fonts/gt-america-standard-regular.ttf');
}

* {
  font-family: 'GT America';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.aven-logo {
  width: 71px;
  height: 27px;
  background-image: url("/assets/images/logo.svg");
}
